<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcomeeeeee!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <h4>intra</h4>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
